<!DOCTYPE html>
<head>
   <title>Lamp Switch</title>
   <head>
     <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-touch-icon-57x57.png') }}">
     <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72x72.png') }}">
     <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-touch-icon-114x114.png') }}">
     <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144x144.png') }}">
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <link rel="stylesheet" mead='screen' href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
   </head>
</head>
<body>
  <div class='container' style='padding-top:20px'>
   <h1>Device Listing and Status</h1>

   {% for pin in pins %}
   <p>The {{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently on.
      <a class="btn btn-outline-danger" href="/{{pin}}/off" role="button">Turn Off</a>
   {% else %}
      is currently off.
      <a class="btn btn-outline-success" href="/{{pin}}/on" role="button">Turn On</a>
   {% endif %}
   </p>
   {% endfor %}

   {% if message %}
   <div class="alert alert-success">
     {{ message }}
   </div>
   {% endif %}

 </div>
</body>
</html>
